{%- if artifactory_ha_enabled -%}
<?xml version="1.0" encoding="UTF-8"?>
<config version="2">
  <chain template="cluster-file-system"/>
</config>
{%- else -%}
<?xml version="1.0" encoding="UTF-8"?>
<config version="1">
  <chain template="file-system"/>
</config>
{%- endif -%}