{{ ansible_managed | comment }}
{
  "productId": "Ansible_Artifactory/{{ platform_collection_version }}-{{ artifactory_version }}",
  "features": [
    {
      "featureId": "Channel/{{ ansible_marketplace }}"
    }
  ]
}