- name: Install prerequisite packages
  ansible.builtin.include_tasks: "{{ ansible_os_family }}.yml"

- name: Install nginx
  become: true
  ansible.builtin.package:
    name: nginx
    state: present
  register: install_nginx
  retries: 5
  delay: 60
  until: install_nginx is succeeded

- name: Copy nginx.conf file
  become: true
  ansible.builtin.template:
    src: nginx.conf.j2
    dest: /etc/nginx/nginx.conf
    owner: root
    group: root
    mode: '0755'

- name: Generate artifactory.conf
  become: true
  ansible.builtin.template:
    src: artifactory.conf.j2
    dest: /etc/nginx/conf.d/artifactory.conf
    owner: root
    group: root
    mode: '0755'
  notify: Restart nginx

- name: Restart nginx
  ansible.builtin.meta: flush_handlers
