---
# handlers file for xray
- name: Restart xray
  become: true
  ansible.builtin.systemd:
    name: "{{ xray_daemon }}"
    state: restarted
  when:
    - xray_start_service | bool

- name: Stop xray
  become: true
  ansible.builtin.systemd:
    name: "{{ xray_daemon }}"
    state: stopped

- name: Reload systemd
  become: true
  ansible.builtin.systemd_service:
    daemon_reload: true
