apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
     api-approved.kubernetes.io: https://github.com/kubernetes/kubernetes/pull/78458
  creationTimestamp: null
  name: openshiftartifactoryhas.charts.helm.k8s.io
spec:
  group: charts.helm.k8s.io
  names:
    kind: OpenshiftArtifactoryHa
    listKind: OpenshiftArtifactoryHaList
    plural: openshiftartifactoryhas
    singular: openshiftartifactoryha
  scope: Namespaced
  versions:
  - name: v1
    served: true
    storage: true
    subresources:
      status: {}
    schema:
      openAPIV3Schema:
          type: object
          properties:
            spec:
              type: object
              x-kubernetes-preserve-unknown-fields: true
              properties:
                cronSpec:
                  type: string
                image:
                  type: string
                replicas:
                  type: integer
status:
  acceptedNames:
    kind: ''
    plural: ''
  conditions: null
  storedVersions: null
