- name: Include distro specific variables
  ansible.builtin.include_vars: "{{ distro_vars_file }}"
  vars:
    distro_vars_file: "{{ lookup('first_found', distro_vars, errors='ignore') }}"
    distro_vars:
      files:
        - "vars/distro/{{ ansible_distribution ~ ansible_distribution_major_version }}.yml"
        - "vars/distro/{{ ansible_distribution }}.yml"
        - "vars/distro/{{ ansible_os_family }}.yml"
        - "vars/distro/default.yml"

- name: Install prerequisite packages
  ansible.builtin.include_tasks: "{{ ansible_os_family }}.yml"

- name: Install nginx
  ansible.builtin.include_role:
    name: artifactory_nginx
  when:
    - artifactory_nginx_enabled | bool
    - not artifactory_nginx_ssl_enabled | bool

- name: Install nginx with SSL
  ansible.builtin.include_role:
    name: artifactory_nginx_ssl
  when:
    - not artifactory_nginx_enabled | bool
    - artifactory_nginx_ssl_enabled | bool

- name: Ensure group artifactory exist
  become: true
  ansible.builtin.group:
    name: "{{ artifactory_group }}"
    state: present

- name: Ensure user artifactory exist
  become: true
  ansible.builtin.user:
    name: "{{ artifactory_user }}"
    group: "{{ artifactory_group }}"
    create_home: true
    home: "{{ artifactory_home }}"
    shell: /bin/bash
    state: present

- name: Allow using crontab
  ansible.builtin.lineinfile:
    path: /etc/cron.allow
    line: "{{ artifactory_user }}"
    state: present
  when: artifactory_allow_crontab

- name: Allow reading cron.allow
  ansible.builtin.file:
    path: /etc/cron.allow
    mode: 0644
  when: artifactory_allow_crontab

- name: Check if artifactory tar already exists
  become: true
  ansible.builtin.stat:
    path: "{{ jfrog_home_directory }}/{{ artifactory_tar_file_name }}"
  register: artifactory_tar_check

- name: Download artifactory
  become: true
  ansible.builtin.get_url:
    url: "{{ artifactory_tar }}"
    timeout: "{{ artifactory_download_timeout }}"
    dest: "{{ jfrog_home_directory }}"
  register: download_artifactory
  until: download_artifactory is succeeded
  retries: 3
  when: not artifactory_tar_check.stat.exists

- name: Extract artifactory tar
  become: true
  ansible.builtin.unarchive:
    src: "{{ jfrog_home_directory }}/{{ artifactory_tar_file_name }}"
    dest: "{{ jfrog_home_directory }}"
    owner: "{{ artifactory_user }}"
    group: "{{ artifactory_group }}"
    creates: "{{ artifactory_untar_home }}"
    remote_src: true
  when: (download_artifactory is succeeded) and (not ansible_check_mode)

- name: Check if app directory exists
  become: true
  ansible.builtin.stat:
    path: "{{ artifactory_home }}/app"
  register: app_dir_check

- name: Copy untar directory to artifactory home
  become: true
  ansible.builtin.copy:
    src: "{{ artifactory_untar_home }}/"
    dest: "{{ artifactory_home }}"
    owner: "{{ artifactory_user }}"
    group: "{{ artifactory_group }}"
    mode: 0755
    remote_src: true
  when: not app_dir_check.stat.exists

- name: Create required directories
  become: true
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    recurse: true
    owner: "{{ artifactory_user }}"
    group: "{{ artifactory_group }}"
  loop:
    - "{{ artifactory_home }}/var/data"
    - "{{ artifactory_home }}/var/etc"
    - "{{ artifactory_home }}/var/etc/security/"
    - "{{ artifactory_home }}/var/etc/artifactory/info/"

- name: Check if system.yaml exists
  become: true
  ansible.builtin.stat:
    path: "{{ artifactory_home }}/var/etc/system.yaml"
  register: systemyaml

- name: Configure system.yaml
  become: true
  ansible.builtin.template:
    src: "{{ artifactory_system_yaml_template }}"
    dest: "{{ artifactory_home }}/var/etc/system.yaml"
    mode: 0644
  when:
    - artifactory_systemyaml is defined
    - artifactory_systemyaml | length > 0
    - artifactory_systemyaml_override or (not systemyaml.stat.exists)
  notify: Restart artifactory

- name: Configure master key
  become: true
  ansible.builtin.copy:
    dest: "{{ artifactory_home }}/var/etc/security/master.key"
    content: "{{ master_key }}"
    owner: "{{ artifactory_user }}"
    group: "{{ artifactory_group }}"
    mode: 0640

- name: Configure installer info
  become: true
  ansible.builtin.template:
    src: installer-info.json.j2
    dest: "{{ artifactory_home }}/var/etc/artifactory/info/installer-info.json"
    mode: 0644
  notify: Restart artifactory

- name: Configure binary store
  become: true
  ansible.builtin.template:
    src: binarystore.xml.j2
    dest: "{{ artifactory_home }}/var/etc/artifactory/binarystore.xml"
    mode: 0644
  notify: Restart artifactory

- name: Configure artifactory license(s)
  become: true
  ansible.builtin.template:
    src: artifactory.cluster.license.j2
    dest: "{{ artifactory_home }}/var/etc/artifactory/artifactory.cluster.license"
    mode: 0644
  when:
    - artifactory_licenses is defined
    - artifactory_licenses | length > 0
  notify: Restart artifactory

- name: Set up Artifactory admin account 
  become: true
  ansible.builtin.template:
    src: bootstrap.creds.j2
    dest: "{{ artifactory_home }}/var/etc/access/bootstrap.creds"
    owner: "{{ artifactory_user }}"
    group: "{{ artifactory_group }}"
    mode: 0600
  when: 
    - artifactory_admin_username is defined
    - artifactory_admin_password is defined
  notify: Restart artifactory

- name: Check if included database driver is the correct version
  become: true
  ansible.builtin.stat:
    path: "{{ artifactory_home }}/app/artifactory/tomcat/lib/postgresql-{{ postgres_driver_version }}.jar"
  register: included_database_driver

- name: Check if database driver exists
  become: true
  ansible.builtin.stat:
    path: "{{ artifactory_home }}/app/artifactory/tomcat/lib/jf_postgresql-{{ postgres_driver_version }}.jar"
  when:
    - not included_database_driver.stat.exists
  register: database_driver

- name: Download database driver
  become: true
  ansible.builtin.get_url:
    url: "{{ postgres_driver_download_url }}"
    dest: "{{ artifactory_home }}/var/bootstrap/artifactory/tomcat/lib"
    owner: "{{ artifactory_user }}"
    group: "{{ artifactory_group }}"
    mode: 0644
  when:
    - postgres_driver_download_url is defined
    - not database_driver.stat.exists
    - not included_database_driver.stat.exists
    - postgres_driver_download | bool
  notify: Restart artifactory

- name: Restore SELinux content
  ansible.builtin.include_tasks: shared/selinux_restore_context.yml

- name: Install Service
  ansible.builtin.include_tasks: shared/install_service.yml

- name: Ensure permissions are correct
  ansible.builtin.include_tasks: shared/ensure_permissions_correct.yml

- name: Restart artifactory
  ansible.builtin.meta: flush_handlers
  when:
    - artifactory_start_service | bool

- name: Make sure artifactory is up and running
  ansible.builtin.uri:
    url: http://127.0.0.1:8082/router/api/v1/system/health
    timeout: 130
    status_code: 200
  register: result
  until: result is succeeded
  retries: 25
  delay: 5
  when:
    - not ansible_check_mode
    - artifactory_start_service | bool