- name: Perform installation
  ansible.builtin.include_tasks: "install.yml"
  when:
    - insight_enabled
    - not insight_upgrade_only

- name: Perform upgrade
  ansible.builtin.include_tasks: "upgrade.yml"
  when:
    - insight_enabled
    - insight_upgrade_only
