- name: Check if insight tar exists
  become: true
  ansible.builtin.stat:
    path: "{{ jfrog_home_directory }}/{{ insight_tar_file_name }}"
  register: insight_tar_check

- name: Download insight for upgrade
  become: true
  ansible.builtin.get_url:
    url: "{{ insight_tar }}"
    timeout: "{{ insight_download_timeout }}"
    dest: "{{ jfrog_home_directory }}"
  register: download_insight
  until: download_insight is succeeded
  retries: 3
  when: not insight_tar_check.stat.exists

- name: Extract insight tar
  become: true
  ansible.builtin.unarchive:
    src: "{{ jfrog_home_directory }}/{{ insight_tar_file_name }}"
    dest: "{{ jfrog_home_directory }}"
    remote_src: true
    owner: "{{ insight_user }}"
    group: "{{ insight_group }}"
    creates: "{{ insight_untar_home }}"
  when: download_insight is succeeded

- name: Stop insight
  ansible.builtin.meta: flush_handlers

- name: Delete current app folder
  become: true
  ansible.builtin.file:
    path: "{{ insight_home }}/app"
    state: absent
  when: download_insight.changed

- name: Copy new app to insight app
  ansible.builtin.command: "cp -r {{ insight_untar_home }}/app/. {{ insight_home }}/app"
  become: true
  when: download_insight.changed

- name: Delete untar directory
  become: true
  ansible.builtin.file:
    path: "{{ insight_untar_home }}"
    state: absent
  when: download_insight.changed

- name: Upgrade elasticsearch
  ansible.builtin.import_tasks: upgrade-elasticsearch.yml
  when: download_insight.changed

- name: Check if system.yaml exists
  become: true
  ansible.builtin.stat:
    path: "{{ insight_home }}/var/etc/system.yaml"
  register: systemyaml

- name: Configure system.yaml
  become: true
  ansible.builtin.template:
    src: "{{ insight_system_yaml_template }}"
    dest: "{{ insight_home }}/var/etc/system.yaml"
    owner: "{{ insight_user }}"
    group: "{{ insight_group }}"
    mode: 0644
  when:
    - insight_systemyaml is defined
    - insight_systemyaml | length > 0
    - insight_systemyaml_override or (not systemyaml.stat.exists)
  notify: Restart insight

- name: Check if install.sh wrapper script exist
  become: true
  ansible.builtin.stat:
    path: "{{ insight_install_script_path }}/install.sh"
  register: upgrade_wrapper_script
  when: download_insight.changed

- name: Include interactive installer scripts
  ansible.builtin.include_vars: script/archive.yml

- name: Upgrade Insight
  ansible.builtin.include_tasks: expect.yml
  vars:
    exp_executable_cmd: "./install.sh -u {{ insight_user }} -g {{ insight_group }}"
    exp_dir: "{{ insight_install_script_path }}"
    exp_scenarios: "{{ insight_installer_scenario['main'] }}"
  args:
    apply:
      environment:
        YQ_PATH: "{{ insight_thirdparty_path }}/yq"
  when:
    - upgrade_wrapper_script.stat.exists
    - download_insight.changed

- name: Configure installer info
  become: true
  ansible.builtin.template:
    src: installer-info.json.j2
    dest: "{{ insight_home }}/var/etc/info/installer-info.json"
    mode: 0644
  notify: Restart insight

- name: Update correct permissions
  become: true
  ansible.builtin.file:
    path: "{{ insight_home }}"
    state: directory
    recurse: true
    owner: "{{ insight_user }}"
    group: "{{ insight_group }}"

- name: Restart insight
  ansible.builtin.meta: flush_handlers

- name: Make sure insight is up and running
  ansible.builtin.uri:
    url: http://127.0.0.1:8082/router/api/v1/system/health
    timeout: 130
    status_code: 200
  register: result
  until: result is succeeded
  retries: 25
  delay: 5
  when: not ansible_check_mode
