## @formatter:off
## JFROG ARTIFACTORY SYSTEM CONFIGURATION FILE
## HOW TO USE: comment-out any field and keep the correct yaml indentation by deleting only the leading '#' character.
configVersion: 1

## NOTE: JFROG_HOME is a place holder for the JFrog root directory containing the deployed product, the home directory for all JFrog products.
## Replace JFROG_HOME with the real path! For example, in RPM install, JFROG_HOME=/opt/jfrog

## NOTE: Sensitive information such as passwords and join key are encrypted on first read.
## NOTE: The provided commented key and value is the default.

## SHARED CONFIGURATIONS
## A shared section for keys across all services in this config
shared:
  ## Java options
  extraJavaOpts: "{{ extra_java_opts }}"

  ## Node Settings
  node:
    ## A unique id to identify this node.
    ## Default: auto generated at startup.
    id: {{ ansible_machine_id }}

    ## Sets this node as primary in HA installation
    # primary: {{ artifactory_is_primary }}
    Affinity: "any"
    
    ## Sets this node as part of HA installation
    haEnabled: {{ artifactory_ha_enabled }}

  ## Database Configuration
  database:
    ## One of: mysql, oracle, mssql, postgresql, mariadb
    ## Default: Embedded derby

    ## Example for mysql/postgresql
    type: "{{ db_type }}"
    driver: "{{ db_driver }}"
    url: "{{ db_url }}"
    username: "{{ db_user }}"
    password: "{{ db_password }}"
