{
    "username": "{{ item.username }}",
    "password": "{{ item.password }}",
    "email": "noreply@example.com",
    "groups": [
      "readers"
    ],
    "realm": "internal",
    "status": "enabled",
    "admin": false,
    "profile_updatable": true,
    "internal_password_disabled": false,
    "disable_ui_access": false
}
