{{ ansible_managed | comment }}
{
  "productId": "Ansible_Xray/{{ platform_collection_version }}-{{ xray_version }}",
  "features": [
    {
      "featureId": "Channel/{{ ansible_marketplace }}"
    }
  ]
}