configVersion: 1
shared:
  jfrogUrl: {{ jfrog_url }}
  node:
    ip: {{ ansible_host }}
  database:
    type: "{{ mc_db_type }}"
    driver: "{{ mc_db_driver }}"
    url: "{{ mc_db_url }}"
    username: "{{ mc_db_user }}"
    password: "{{ mc_db_password }}"
  elasticsearch:
    unicastFile: {{ mc_es_conf_base }}/unicast_hosts.txt
    clusterSetup: YES
    password: {{ mc_es_password }}
    url: {{ mc_es_url }}
    username: {{ mc_es_user }}
    external: true
  security:
    joinKey: {{ join_key }}
router:
  entrypoints:
    internalPort: 8046
