[defaults]
# Installs collections into [current dir]/ansible_collections/namespace/collection_name
collections_paths = ./

# Installs roles into [current dir]/roles/namespace.rolename
roles_path = ./jfrog/rt7ansible/roles

host_key_checking = false