{{ ansible_managed | comment }}
{
  "productId": "Ansible_MissionControl/{{ platform_collection_version }}-{{ missionControl_version }}",
  "features": [
    {
      "featureId": "Channel/{{ ansible_marketplace }}"
    }
  ]
}