{{ ansible_managed | comment }}
# PostgreSQL Client Authentication Configuration File
# ===================================================
#
# See: https://www.postgresql.org/docs/current/static/auth-pg-hba-conf.html

# Default entries
{% for client in postgresql_hba_entries %}
{{ client.type }} {{ client.database }} {{ client.user }} {{ client.address| d('') }} {{ client.auth_method }} {{ client.auth_options | d("") }}
{% endfor %}

{% if postgresql_hba_add_inventory_hosts %}
# Dynamic entries from Artifactory inventory
{% for group in ['artifactory_servers', 'xray_servers', 'distribution_servers', 'insight_servers'] %}
{% if groups[group] is defined %}
{% for host in groups[group] %}
{% if hostvars[host]['ansible_host'] is defined %}
host {{ hostvars[host][(group | replace('_servers', '')) + '_db_name'] | d('all') }} {{ hostvars[host][(group | replace('_servers', '')) + '_db_user'] | d('all') }} {{ hostvars[host]['ansible_host'] }}/32 {{ postgresql_auth_method }}
{% endif %}
{% endfor %}
{% endif %}
{% endfor %}
{% endif %}
