- name: Get elasticsearch pid
  shell: "ps -ef | grep -v grep | grep -w elasticsearch | awk '{print $2}'"
  register: elasticsearch_pid

- name: Stop elasticsearch before upgrade
  become: yes
  shell: kill -9 {{ elasticsearch_pid.stdout }}
  when: elasticsearch_pid.stdout | length > 0

- name: Waiting until all running processes are killed
  wait_for:
    path: "/proc/{{ elasticsearch_pid.stdout }}/status"
    state: absent
  when: elasticsearch_pid.stdout | length > 0

- name: Find searchguard bundle for removal
  become: yes
  find:
    paths: "{{ mc_home }}/app/third-party/elasticsearch/"
    patterns: "^search-guard-.+\\.zip$"
    use_regex: yes
    file_type: file
  register: check_searchguard_bundle_result

- name: Remove searchguard plugin
  become: yes
  become_user: elasticsearch
  ignore_errors: yes
  shell: |
    {{ mc_es_script_path }}/elasticsearch-plugin remove {{ check_searchguard_bundle_result.files[0].path }}
  environment:
    JAVA_HOME: "{{ mc_es_java_home }}"
    ES_PATH_CONF: "{{ mc_es_conf_base }}/config"
  register: remove_searchguard_result
  when: check_searchguard_bundle_result.matched == 1

- name: Delete elasticsearch home dir
  become: yes
  file:
    path: "{{ mc_es_home }}"
    state: absent

- name: Create elasticsearch home dir
  become: yes
  file:
    path: "{{ mc_es_home }}"
    state: directory
    mode: 0755
    owner: elasticsearch
    group: elasticsearch

- name: Find elasticsearch package
  become: yes
  find:
    paths: "{{ mc_home }}/app/third-party/elasticsearch"
    patterns: "^elasticsearch-oss-.+\\.tar.gz$"
    use_regex: yes
    file_type: file
  register: check_elasticsearch_package_result

- name: Set elasticsearch package file name
  set_fact:
    mc_elasticsearch_package: "{{ check_elasticsearch_package_result.files[0].path }}"
  when: check_elasticsearch_package_result.matched > 0

- name: Extract elasticsearch package
  become: yes
  ignore_errors: yes
  unarchive:
    src: "{{ mc_elasticsearch_package }}"
    dest: "{{ mc_es_home }}"
    remote_src: yes
    extra_opts:
      - --strip-components=1
      - --exclude=config
    owner: elasticsearch
    group: elasticsearch
  register: unarchive_result
  when: check_elasticsearch_package_result.matched > 0

- name: Generate HA elasticsearch.yml template file
  become: yes
  ignore_errors: yes
  template:
    src: templates/ha/{{ mc_ha_node_type }}.elasticsearch.yml.j2
    dest: "{{ mc_es_conf_base }}/elasticsearch.yml"
    owner: elasticsearch
    group: elasticsearch
  when: unarchive_result.extract_results.rc | default(128) == 0

- name: Create empty unicast_hosts.txt file
  become: yes
  file:
    path: "{{ mc_es_conf_base }}/unicast_hosts.txt"
    state: touch
    mode: 0644
    owner: elasticsearch
    group: elasticsearch

- name: Upgrade searchguard plugin
  import_tasks: upgrade-searchguard.yml

- name: Start elasticsearch
  become: yes
  become_user: elasticsearch
  ignore_errors: yes
  shell: "{{ mc_es_script_path }}/elasticsearch -d"
  environment:
    JAVA_HOME: "{{ mc_es_java_home }}"
    ES_PATH_CONF: "{{ mc_es_conf_base }}/"
  when: unarchive_result.extract_results.rc | default(128) == 0
  register: start_elastcsearch_upgraded
